/**
 * #3b5998 blue
 * #8b9dc3 light blue
 * #dfe3ee light light blue
 * #f7f7f7 light light light blue
 * #ffffff white
 */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  line-height: 1.5;
}

/* HEADER */
header {
  background-color: #3b5998;
  color: white;
  padding: 10px;
  text-align: center;
}

header a {
  color: white;
}

ul {
  padding-left: 10px;
}

nav ul {
}

nav ul li {
  display: inline;
  margin: 10px;
}

.narrow {
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .narrow {
    width: 100%;
    padding: 10px;
  }
}

/* ALERTS */
.alert {
  border-width: 1px;
  border-style: solid;
  padding: 10px 20px;
  text-align: center;
}

.alert.warning {
  border-color: yellow;
  background-color: yellow;
}

.success {
  background-color: #00c853;
}

/* PAGES */
/* Redeem */
.Redeem .token {
  text-align: center;
  padding: 20px 10px;
  border: 1px solid #8b9dc3;
  background-color: #dfe3ee;
  margin: 20px 0;
}

.Redeem .token img {
  margin-top: 10px;
  width: 100%;
}

.Redeem .token button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/* Visualize */
.Visualize .mine {
  border: 1px solid red;
}

/* LeaderBoard */
.LeaderBoard ol {
  margin-top: 20px;
}
.LeaderBoard li {
  list-style: none;
}

.LeaderBoard .jazzicon {
  position: relative;
  display: inline-block;
}

.LeaderBoard .tokens {
  position: absolute;
  font-size: 50px;
  opacity: 0.5;
  text-align: center;
  top: 22px;
  left: 0;
  right: 0;
}

.LeaderBoard .owner {
  font-size: 10px;
}
