/**
 * #3b5998 blue
 * #8b9dc3 light blue
 * #dfe3ee light light blue
 * #f7f7f7 light light light blue
 * #ffffff white
 */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}

/* HEADER */
header {
  background-color: #3b5998;
  color: white;
  padding: 10px;
  text-align: center;
}

header a {
  color: white;
}

nav ul {
}

nav ul li {
  display: inline;
  margin: 10px;
}

/* MAIN */
main {
  padding: 10px;
}
