/**
 * #3b5998 blue
 * #8b9dc3 light blue
 * #dfe3ee light light blue
 * #f7f7f7 light light light blue
 * #ffffff white
 */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: #3b5998;
  color: white;
  padding: 10px;
  text-align: center;
}

header a {
  color: white;
}

nav ul {
}

nav ul li {
  display: inline;
  margin: 10px;
}

/* MAIN */
main {
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  main {
    width: 100%;
    padding: 10px;
  }
}

/* ALERTS */
.alert {
  border-width: 1px;
  border-style: solid;
  padding: 10px 20px;
}

.alert.warning {
  border-color: yellow;
  background-color: yellow;
}

/* PAGES */
/* Redeem */
.Redeem .token {
  text-align: center;
  padding: 20px 10px;
  border: 1px solid #8b9dc3;
  background-color: #dfe3ee;
  margin: 20px 0;
}

.Redeem .token img {
  margin-top: 10px;
  width: 100%;
}

.Redeem .token button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/* Visualize */
.Visualize .mine {
  border: 1px solid red;
}
